* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.container{
    padding: 50px;
}

.img {
    margin: 0 auto;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background: url(assets/wallpaper.jpeg);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.save {
    position: absolute;
    right: 10px;
    top: -40px;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    transition: 0.2s ease;
    cursor: pointer;
}

.overlay {
    margin: 0 auto;
    width: 400px;
    height: 600px;
    border-radius: 20px;;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}

.img:hover .overlay{
    background-color: rgba(0, 0, 0, 0.504);
}

.img:hover .save{
    top: 10px;
}

.link,
.upload,
.dots {
    background-color: white;
    padding: 10px 25px;
    position: absolute;
    border-radius: 20px;
    opacity: 0.8;
    cursor: pointer;
    bottom: -40px;
    transition: 0.2s ease;
}

.link{
    width: 230px;
    padding: 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link:hover,
.upload:hover,
.dots:hover{
    opacity: 1;
}

.img:hover .link,
.img:hover .upload,
.img:hover .dots {
  bottom: 10px;
}

.link{
    left: 15px;
}

.upload{
    right: 80px;
}

.dots{
    right: 10px
}

